{% extends "customers/base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ description }}</p>

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Item Count</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.order_created_date }}</td>
          <td>{{ order.item_count  }}</td>
          <td>{{ order.description }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No orders found for this customer.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}