{% extends "customers/base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <h1>{{self.page_title}}</h1>
  <div class="rich-text">
    {{ "test description"|richtext }}
    <h1>Customer List</h1>
    <form method="GET" action="{% url 'home' %}">
      <input type="text" name="search" placeholder="Search customers" value="{{ request.GET.search }}">
      <button type="submit">Search</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Currency Balance</th>
          <th>Page Visits</th>
          <th>Orders</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.date_of_birth }}</td>
            <td>{{ customer.currency_balance }}</td>
            <td>{{ customer.page_visits }}</td>
            <td>
                <a href="{% url 'view_orders' customer.id %}" class="btn btn-primary">View</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No customers found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
